<!doctype html>
<html lang="en">

<head>


    <title> LET'S EXPLORE DAISO 다이소 꿀템을 찾아보아요 ! :) </title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>


    <style>
        .myheader {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: right;
            padding: 10px 60px 10px 0;
        }

        .mybtn {
            margin-left: 10px;
            border-radius: 6px;
        }

        .mybackimage {
            width: 100%;
            height: 400px;

            background-image: url('https://i.imgur.com/H1t9uN5.png ');
            background-position: left;
            background-size: cover;

            color: white;

            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        .mycards {
            margin: 20px auto 0px auto;
            width: 95%;
            max-width: 1200px;
        }

    </style>
        <script>

            $(document).ready(function () {
                listing();
            });

            function listing() {
                $('#cards-box').empty()
                $.ajax({
                    type: 'GET',
                    url: '/lets_explore_daiso',
                    data: {},
                    success: function (response) {
                        let rows = response['users']
                        for (let i = 0; i < rows.length; i++) {
                            let image = rows[i]['image']
                            let user = rows[i]['user']
                            let star = rows[i]['star']
                            let star_image = '⭐'.repeat(star)

                            let temp_html = `<div class="col">
                                                <div class="card h-100">
                                                    <img src="https://shop.daiso.co.kr/nas/cdn/ongds/1/10/1037561_00.jpg"
                                                         class="card-img-top">
                                                    <div class="card-body">
                                                        <p class="card-title">nickname: ${user}</p>
                                                        <p class="card-text">제목: ${title}</p>
                                                        <p>별점: ${star_image}</p>

                                                    </div>
                                                </div>
                                            </div>`

                            $('#cards-box').append(temp_html)

                                    function posting() {
            let url = $('#url').val()
            let star = $('#star').val()
            let comment = $('#comment').val()

            $.ajax({
                type: 'POST',
                url: '/movie',
                data: {url_give: url, star_give: star, comment_give: comment},
                success: function (response) {
                    alert(response['msg'])
                    window.location.reload()
                        }
                    }
                                    )}


            </script>
    </head>

    <body>

        <div class="">
            <div class="myheader">
                <button onclick="/login.html" type="button" class="btn btn-secondary mybtn"> LOG-IN</button>
                <button onclick="/review_submit.html" type="button" class="btn btn-secondary mybtn"> WRITE</button>
            </div>
        </div>

        <div class="">
            <div class="mybackimage">
            </div>
        </div>


        <div class="mycards">
            <div class="row row-cols-1 row-cols-md-4 g-4" id="cards-box">
                <div class="col">
                    <div class="card h-100">
                        <img src="https://shop.daiso.co.kr/nas/cdn/ongds/1/10/1037561_00.jpg"
                             class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">NICK : 닉네임은 여기에 </h5>
                            <p class="card-text">RATING : ⭐⭐⭐</p>
                            <p class="mycomment">후기 작성은 여기에</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100">
                        <img src="https://shop.daiso.co.kr/nas/cdn/ongds/1/10/1037561_00.jpg"
                             class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">NICK : </h5>
                            <p class="card-text">RATING : ⭐⭐⭐</p>
                            <p class="mycomment">후기 작성</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100">
                        <img src="https://shop.daiso.co.kr/nas/cdn/ongds/1/10/1037561_00.jpg"
                             class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">NICK : </h5>
                            <p class="card-text">RATING : ⭐⭐⭐</p>
                            <p class="mycomment">후기 작성</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100">
                        <img src="https://shop.daiso.co.kr/nas/cdn/ongds/1/10/1037561_00.jpg"
                             class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">NICK : </h5>
                            <p class="card-text">RATING : ⭐⭐⭐</p>
                            <p class="mycomment">후기 작성</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100">
                        <img src="https://shop.daiso.co.kr/nas/cdn/ongds/1/10/1037561_00.jpg"
                             class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">NICK : 닉네임은 여기에 </h5>
                            <p class="card-text">RATING : ⭐⭐⭐</p>
                            <p class="mycomment">후기 작성은 여기에</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100">
                        <img src="https://shop.daiso.co.kr/nas/cdn/ongds/1/10/1037561_00.jpg"
                             class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">NICK : </h5>
                            <p class="card-text">RATING : ⭐⭐⭐</p>
                            <p class="mycomment">후기 작성</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100">
                        <img src="https://shop.daiso.co.kr/nas/cdn/ongds/1/10/1037561_00.jpg"
                             class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">NICK : </h5>
                            <p class="card-text">RATING : ⭐⭐⭐</p>
                            <p class="mycomment">후기 작성</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100">
                        <img src="https://shop.daiso.co.kr/nas/cdn/ongds/1/10/1037561_00.jpg"
                             class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">NICK : </h5>
                            <p class="card-text">RATING : ⭐⭐⭐</p>
                            <p class="mycomment">후기 작성</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="mycards">
                <div class="row row-cols-1 row-cols-md-4 g-4" id="cards-box">
                </div>
        </div>

    </body>
</html>